.menu-page {
  display: grid;
  grid-template-columns: 100px 1fr;
  grid-template-rows: 50px 1fr;
  grid-template-areas:
    'sidebar folder-picker'
    'sidebar preview';

  padding: 1rem;
  min-height: 600px;
}

/* --- Sidebar --- */
.sidebar {
  grid-area: sidebar;
  display: flex;
  justify-content: center;
}

.timer-button-list {
  display: flex;
  flex-direction: column;
  list-style: none;
  gap: 0.6rem;
}
.timer-button {
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  width: 50px;
  height: 50px;
  background-color: var(--main-color);
  transition: background-color 0.25s ease;
}
.timer-button:hover {
  cursor: pointer;
  background-color: var(--secondary-color);
}

.timer-button-interval {
  font-size: 0.85rem;
  margin-top: 7px;
}

.sidebar .custom-timer-input {
  width: 40px;
  text-align: center;
  border-bottom-width: 2px;
  cursor: pointer;
}
.custom-timer-input::selection {
  background-color: var(--bg-color);
}

.timer-button.active {
  border: 2px solid var(--text-color);
}

.custom-timer-input.no-border {
  border: none;
}

/* --- Folder picker --- */
.folder-picker {
  grid-area: folder-picker;
  display: flex;
  align-items: center;
}

.icon-folder {
  background-image: url('../icons/folder.svg');
  background-size: 2rem;
}
.folder-name {
  padding-left: 0.5rem;
}
.icon-folder,
.folder-name {
  cursor: pointer;
}

/* --- Preview --- */
.preview {
  grid-area: preview;
}
.preview-image {
  width: 300px;
  height: 300px;
}
